body {
    background-color: rgba(var(--b3f,250,250,250),1);
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.form-header h1 {
    font-size: 50px;
    font-family: 'Billabong';
    margin: 22px auto 2px;
}

.form-body {
    margin-bottom: 20px;
    width: 255px;
    margin: auto;
}

button {
    background-color: #3897f0;
    font-size: 13px;
    color: white;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 241px;
    height: 29px;
    margin-bottom: 13px;
}

form div.or-line {
    margin: 1px auto;
    width: 241px;
}

form div.or-line div.col-lg-3 {
    text-transform: uppercase;
    color: rgba(var(--f52,153,153,153),1);
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
}

form div.or-line div.col {
    height: 1px;
    background-color: rgba(var(--b38,219,219,219),1);
    position: relative;
    top: .45em;
}

button i {
    margin-right: 7px;
}

.form-body h6 {
    color: #999;
    font-size: 15px;
    margin-bottom: 17px;
}

.higher {
    border: 1px solid #e6e6e6;
    width: 315px;
    background-color: #fff;
    margin-top: 38px;
    text-align: center;
}

input::placeholder {
    font-size: 11px;
    position: relative;
    bottom: .25em;
    color: #999 !important;
}

input.form-control {
    background-color: #fafafa !important;
    border: 1px solid #efefef;
    padding: 5px 0 5px 8px;
    outline: none;
    box-shadow:none !important;
    height: 35px;
    width: 241px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 4px;
}

#register {
    height: 27px;
    margin-bottom: 5px;
    position: relative;
    bottom: 5px;
}

form p a {
    font-weight: 600;
}

form p {
    width: 200px;
    line-height: 1.3;
    font-size: 13px;
    margin: 7px auto 10px;
}

form p, form a, form a:hover {
    color: #999;
    text-decoration: none;
}

.form-control:focus{
    border-color: #b2b2b2;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@font-face {
    font-family: 'Billabong';
    font-style: normal;
    font-weight: normal;
    src: local('Billabong'), url('Billabong.woff') format('woff');
}

.right {
    padding-left: 0 !important;
}

.left {
    padding-right: 0 !important;
}

.left .back {
    height: 618px;
    width: 454px;
    margin-right: 0 !important;
    background-size: 454px 618px;
    background-image: url('https://www.instagram.com/static/images/homepage/home-phones.png/43cc71bb1b43.png');
    background-repeat: no-repeat;
}
  
  @keyframes cfFadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  #cf img:nth-of-type(1) {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 12s;
  }
  #cf img:nth-of-type(2) {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 8s;
  }
  #cf img:nth-of-type(3) {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 4s;
  }
  #cf img:nth-of-type(4) {
    animation-name: cfFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 16s;
    animation-delay: 0s;
  }


#cf img {
    position: absolute;
    top: 99px;
    right: 29%;
}

#cf {
    width: 300px;
}